@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}
@media screen and (max-width:1024px){
   .headerContact_hero{
   height: 458px;
   width: 100vw;
   position: absolute;
   top: 100px;
   left: 0;
   }
   .headerContact_hero img{
      width: 100%;
      height: 100%;
      display: block;
   }
   .fill_div{
   height: 458px;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.31),rgba(0,0,0,0.31));
   position: absolute;
   z-index: 1;
}
.contact-title{
      z-index: 3;
      width: 381px;
      height: 86px;
      position: absolute;
      font-family: 'Lato', sans-serif;
      vertical-align: top;
      left: 166px;
      top: 172px;
      transition: all .2s ease;
   }
   .contact-title h2{
      color: #fff;
      font-size: 62px;
      text-align: left;
      font-weight: 500;
   }
   .contact-title:hover h2{
      transform: translateY(-5px);
   }
   .map{
      width: 90vw;
      height: 400px;
      position: absolute;
      top: 1494px;
      margin: 44px auto 51px auto;
      left: 22px;
   }
   .map img{
      width: 100%;
      height: 100%;
      display: block;
      
   }
   .map:hover img{
      transform: scale(0.995);
   }
}
@media screen and (min-width:1024px){
   .headerContact_hero{
   height: 458px;
   max-width: 1440px;
   position: absolute;
   top: 100px;
   left: 0;
}

.fill_div{
   height: 458px;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.31),rgba(0,0,0,0.31));
   position: absolute;
   z-index: 1;
}
   .headerContact_hero img{
      width: 100%;
      height: 100%;
      display: block;
   }
   .contact-title{
      z-index: 3;
      width: 381px;
      height: 86px;
      position: absolute;
      font-family: 'Lato', sans-serif;
      vertical-align: top;
      left: 166px;
      top: 172px;
      transition: all .2s ease;
   }
   .contact-title h2{
      color: #fff;
      font-size: 62px;
      text-align: left;
      font-weight: 500;
   }
   .contact-title:hover h2{
      transform: translateY(-5px);
   }
   .map{
      max-width: 1136px;
      height: 400px;
      position: absolute;
      top: 1494px;
      margin: 44px auto 51px auto;
      left: 5%;
   }
   .map img{
      max-width: 100%;
      height: 100%;
      display: block;
      
   }
   .map:hover img{
      transform: scale(0.995);
   }
}
@media screen and (min-width:1440px){
   .map{
      left:10%;
   }
}
