* {
  margin: 0px;
  padding: 0px;
}
header {
  height:458px;
  background-image: url(../media/Rectangle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header p {
  position: absolute;
  left: 162px;
  top: 300px;
  font-family: Eksell Display;
  font-style: normal;
  font-weight: 550;
  font-size: 72px;
  line-height: 86px;
  color: #ffffff;
}
.container{
  width: 80%;
  margin: auto;
}
div.container h3.text {
  font-family: Eksell Display;
  font-style: normal;
  font-weight: 550;
  font-size: 48px;
  line-height: 58px;
  color: #2b2b2b;
}
div.container .room {
  height: auto;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 458px;
}
div.container .room .roomInfo {
  padding: 10px 50px;
  background-color: white;
  opacity: 0.9;
}
.roomInfo .name {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #2b2b2b;
}
.roomInfo .from {
  font-family: Cera Pro;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #2b2b2b;
}
.roomInfo .price {
  color: #02ce77;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}
.roomInfo .night {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2b2b2b;
}
