:root {
  --white-color: #fff;
  --text-success: #02ce77;
  --text-dark: #2b2b2b;
}

.stories .line {
  background-color: var(--text-dark);
  height: 2px;
  width: 40px;
  border-radius: 28px !important;
}

.stories h2 {
  font-size: 45px;
  color: var(--text-dark);
}

.stories .btn-success {
  background: var(--text-success);
  border-radius: 0;
  border: 1px solid var(--white-color);
}

.stories p {
  font-size: 14px;
}

.stories .readmore {
  color: var(--text-success) !important;
}
