:root {
  --green-color: #02ce77;
  --black-color: #2b2b2b;
  --white-color: #fff;
}

body {
  font-family: 'Nunito', sans-serif !important;
}

/* Navbar start */
nav .nav-link {
  font-family: 'Nunito', sans-serif !important;
}
/* Navbar end */

/* Hero start */
.form-wrapper,
.form-wrapper input,
.form-wrapper select {
  font-size: 20px !important;
}

.hero {
  background-image: linear-gradient(
      to right bottom,
      rgb(42, 119, 186),
      rgba(60, 140, 200, 0.5)
    ),
    url('../media/tamara-budai-lLs02_axGOw-unsplash\ \(1\)\ 1.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.hero h2 {
  font-size: 70px;
  padding-top: 150px;
  padding-left: 120px;
}

.hero h3 {
  font-size: 75px;
  padding-left: 120px;
}

.hero p {
  padding-left: 120px;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 1.5px;
}

.form-wrapper .btn-success {
  background-color: var(--green-color) !important;
  border: 1px solid var(--green-color) !important;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .hero h2,
  .hero h3 {
    font-size: 34px !important;
    margin-left: -80px;
  }
  .hero h2 {
    margin-top: -100px;
  }
  .hero p {
    font-size: 20px;
    padding-top: 15px;
    margin-left: -80px;
  }
}
/* Hero end */

/* About Us start */
.about p,
.about .btn-link,
.about h6 {
  font-size: 16px !important;
}

.about h2 {
  font-size: 45px;
  color: var(--black-color);
}

.about .line {
  background-color: var(--black-color);
  height: 5px;
  width: 40px;
  margin-left: 120px;
  border-radius: 28px !important;
}

.about-img {
  background-image: url('../media/palm-trees-at-night-258154\ 1.png');
  border-radius: 52% 48% 50% 50% / 88% 86% 14% 12%;
  background-size: cover;
  padding-bottom: 400px;
}

.bg-color {
  background-color: rgb(249, 251, 255);
}

.about-details h2,
.about-details p {
  padding-left: 120px;
}

.about-details .btn-link {
  margin-left: 110px;
  color: var(--green-color) !important;
  font-weight: 800;
}

.hotel-services {
  position: relative;
  top: -60px;
  padding-left: 120px;
}

@media (max-width: 990px) {
  .about-img,
  .hotel-services {
    display: none !important;
  }
}

@media (max-width: 1070px) {
  .hotel-services {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .about-details {
    padding-left: 0 !important;
  }
}
/* About Us end */

/* Resort start */
.resort {
  margin-top: -10px !important;
}

.resort .line {
  background-color: #2b2b2b;
  height: 5px;
  width: 40px;
  margin-left: -2px;
  border-radius: 28px !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.resort h2 {
  font-size: 45px;
}

.resort h4,
.resort p {
  font-size: 16px !important;
  letter-spacing: 0.8px;
}

.bg-resort-color {
  background-color: rgb(249, 251, 255);
}

.explore {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 12;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.explore h4 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: bold;
  font-size: 13px;
}

.overlay-1 {
  background: rgba(10, 25, 56, 0.74);
  position: relative;
  top: -100px;
  padding: 20px 10px 12px 10px;
}

.overlay-1 h4 {
  line-height: 1.5;
}

.overlay-2 {
  background: linear-gradient(
    180deg,
    rgba(44, 110, 232, 0.3618) 0%,
    rgba(0, 32, 90, 0.67) 100%
  );
  position: relative;
  top: -140px;
  padding: 50px 10px 0px 10px;
}

.overlay-2 h4 {
  margin-top: -10px;
}

.overlay-2 p {
  position: relative;
  left: 200px !important;
  margin-top: -80px;
  padding-top: 50px;
}

.overlay-3 {
  background: rgba(10, 25, 56, 0.74);
  position: relative;
  top: -100px;
  padding: 20px 10px 11px 10px;
}

.overlay-3 h4 {
  line-height: 1.5;
}

.overlay-4 {
  background: rgba(10, 25, 56, 0.74);
  position: relative;
  top: -100px;
  padding: 20px 10px 12px 10px;
}

.overlay-4 h4 {
  line-height: 1.5;
}

@media (max-width: 1128px) {
  .overlay-2 p {
    position: relative;
    left: 40px;
    line-height: 1.5;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .gallery__item--3 {
    grid-column-start: 4 !important;
    grid-column-end: 9 !important;
  }
  .gallery__item--3 h4 {
    text-align: left !important;
  }
  .explore p {
    display: none !important;
  }
  .resort .explore {
    position: relative;
    left: 50px !important;
  }
  .overlay-2 {
    position: relative;
    top: -105px !important;
  }
  .gallery__item--3,
  .gallery__item--4 {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 962px) {
  .explore {
    display: block !important;
  }
  .gallery__item--1,
  .gallery__item--2 {
    height: 400px;
    width: 400px;
  }
  .resort h2 {
    font-size: 26px;
  }
}

@media (max-width: 850px) {
  .resort .line {
    margin-bottom: 100px !important;
  }
  .resort .overlay-1 {
    margin-top: -18px !important;
  }
}

@media (max-width: 768px) {
  .explore .gallery__img {
    width: 200px !important;
    height: auto;
  }
  .overlay-1,
  .overlay-3,
  .overlay-4 h4 {
    font-size: 10px;
    text-align: left !important;
    padding-bottom: 6px;
  }
  .overlay-1,
  .overlay-3,
  .overlay-4 {
    width: 195px;
    margin-left: 2px !important;
  }
  .overlay-2 p {
    display: none !important;
  }
  .overlay-2 {
    display: none !important;
  }
  .overlay-2 h4 {
    font-size: 10px;
    text-align: left !important;
    padding-bottom: 6px;
  }
  .explore figure {
    margin-top: -80px;
  }
}
/* Resort end */

/* Testimonials start */
.testimonials h2 {
  font-size: 45px;
}

.testimonials p {
  font-size: 14px !important;
}

.testimonials {
  margin-top: -20px !important;
}

.dotted-img {
  background: url('../media/hiclipart\ 1.png');
  padding-bottom: 50px;
}

.bg-color {
  background-color: rgb(249, 251, 255);
}

.line {
  background-color: #2b2b2b;
  height: 5px;
  width: 40px;
  margin: 0 auto 30px;
  border-radius: 28px !important;
}

.curve-img {
  background: linear-gradient(180deg, #2c6ee8 0%, #94c0f8 96.52%);
  border-radius: 36% 64% 64% 36% / 47% 29% 71% 53%;
  padding: 120px;
}

.curve-img .bold {
  font-weight: bold;
  margin-left: 95px;
}

.testimonial-img {
  position: relative;
  top: -100px;
}

.testimonials .Ellipse6 {
  position: relative;
  top: 80px;
  margin-left: 200px;
}

.testimonials .Ellipse3 {
  position: relative;
  top: 80px;
  margin-right: 200px;
}

.testimonials .Ellipse2 {
  position: relative;
  top: 50px;
  margin-left: 180px;
}

.testimonials .Ellipse7 {
  position: relative;
  top: -30px;
}

.testimonials .Ellipse4 {
  position: relative;
  top: 70px;
  margin-left: 160px;
}
/* Testimonials end */

/* Stories start */
.stories {
  padding: 40px 0;
}

.stories h5 {
  font-size: 20px !important;
}

.stories p,
.stories .readmore {
  font-size: 16px !important;
}

.stories small {
  font-size: 12.8px !important;
}

.stories .btn-success {
  font-size: 20px !important;
  padding: 12px;
}

.stories .line {
  background-color: var(--black-color);
  height: 5px;
  width: 40px;
  margin-left: -2px;
  border-radius: 28px !important;
}

.stories h2 {
  font-size: 45px;
  color: var(--black-color);
}

.stories .btn-success {
  background: var(--green-color);
  border-radius: 0;
  border: 1px solid var(--white-color);
}

.stories p {
  font-size: 14px;
}

.stories .readmore {
  color: var(--green-color) !important;
}
/* Stories end */
