<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- custom css -->
		<link rel="stylesheet" href="../styles/contact_.css" />
		<title>Contact Page</title>
	</head>
	<body>
		<div class="headerContact_hero">
			<div class="fill_div"></div>
			<img src="../media/contact1.jpg" alt="Contact Section" />
			<div class="contact-title"><h2>Contact Page</h2></div>
		</div>
		<div class="map"><img src="../media/contact2.png" alt="Google map" /></div>
	</body>
</html>
