<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tunz Contact</title>
</head>
<body>
    <header>
        <h1>Contact Page</h1>
        <div class="headerContact_hero">
            <div class="fill_div"></div>
            <img src="../media/contact1.jpg" alt="Contact Section" />
            <div class="contact-title">
        </div>
        <h2> Get In Touch</h2>
    </header>
    <section class="contact-section">
            <div class="contact-details">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p></p><strong>Tunz Hotel & Resort</strong></p>
                    <p>213 Mark Essien road,<br>
                        Onikan, Lagos state.</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p>enquiries@tunz.com</p>
                </div>
                <div>
                    <i class="fa fa-clock-o"></i>
                    <p>24 hours </p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+234 80 312 3456 <br>
                        +234 80 312 3456</p>
                </div>
            </div>
            <div class="contact-form-div">
                <form action="" class="contact-form">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                    <label for="phone">Phone Number</label>
                    <input type="number" name="phone" id="phone" placeholder="Phone number">
                    <label for="message">Write message</label>
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Type your message..."></textarea>
                    <button>Send message</button>
                </form>
                <div class="map"><img src="../media/contact2.png" alt="Google map" /></div>
            </div>
            
        </section>
    </main>
    
</body>
</html>

</body>

</html>