<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/resort.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Resort</title>
  </head>
  <body>
    <div class="container resort">
      <h2 class="text-capitalize">explore our <br> resort</h2>
      <div class="line mb-4"></div>

      <div class="explore">
        <figure class="gallery__item gallery__item--1">
          <img
            src="../media/Rectangle 19.png"
            alt="Gallery image 19"
            class="gallery__img"
          />
          <div class="overlay-1 mr-2 mt-4 px-5 mx-1">
            <h4>
              extra <span class="text-success">20% off</span> on <br> online bookings
            </h4>
          </div>
        </figure>

        <figure class="gallery__item gallery__item--2">
          <img
            src="../media/Rectangle 21.png"
            alt="Gallery image 21"
            class="gallery__img"
          />
          <div class="overlay-2 mr-2 mt-4 px-5 mx-1">
            <div class="d-flex">
              <h4 class="float-left">
              amazing <br>views
              </h4>
              <p class="text-white px-5">
                Experience amazing and breath <br> taking views in and around <br> the hotel; from the entrance to your <br> hotel room, pool and walk ways.
              </p>
            </div>
          </div>
        </figure>

        <figure class="gallery__item gallery__item--3">
          <img 
            src="../media/Rectangle 28.png"
            alt="Gallery image 28"
            class="gallery__img"
          />
          <div class="overlay-3 mr-2 mt-4 px-5 mx-1">
          <h4>
            serene <br> environment
          </h4>
        </figure>

        <figure class="gallery__item gallery__item--4">
          <img
            src="../media/Rectangle 29.png"
            alt="Gallery image 29"
            class="gallery__img"
          />
          <div class="overlay-4 mr-2 mt-4 px-5 mx-1">
          <h4>
            maximum <br> comfort
          </h4>
        </figure>
      </div>
    </div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
