
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/rooms.css" />
    <title>Rooms</title>
  </head>
  <body>
    
    <header class="container-fluid">
            <p>Rooms & Rates</p>
    </header>
    <div class="container">
        <h3 class="text my-md-5 ">Accomodation at a glance</h3>
        <div class="row d-flex .flex-wrap">
            
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="room d-flex" style="background-image: url(../media/room1.png);">
                        <div class=" roomInfo col align-self-end">
                            <p class="name my-0 mt-3">DELUXE SUITE</p>
                            <p class="from my-0">from 
                                <span style=" float: right;"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="32" height="32"
                                    viewBox="0 0 172 172"
                                    style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg></span>
                            </p>
                            <p class="my-0">
                              <span class="price">N15,000</span>
                              <span class="night">/night</span>
                            </p>
                        </div>
                  </div>
                  
                  </div>
            <div class=" col-12 col-md-6 mb-5 mb-md-0">

                <div class="room d-flex" style="background-image: url(../media/room2.png);">
                    <div class="roomInfo col align-self-end">
                      <p class="name my-0 mt-3" style="color: black;">JUNIOR ROOM</p>
                      <p class="from my-0">from <span style="color: red; float: right;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="32" height="32"
                        viewBox="0 0 172 172"
                        style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg>
                    </span>
                </p>
                      <p class="my-0">
                        <span class="price">N15,000</span>
                        <span class="night">/night</span>
                      </p>
                    </div>
                  </div> 

            </div>
        </div>

        <div class="row d-flex .flex-wrap mt-md-5">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="room d-flex" style="background-image: url(../media/room3.png)">
                        <div class=" roomInfo col align-self-end" >
                            <p class="name my-0 mt-3" style="color: black;">SUPERIROR ROOM</p>
                            <p class="from my-0">from 
                                <span style="color: red; float: right;">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                      width="32" height="32"
                                      viewBox="0 0 172 172"
                                      style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg>
                               </span>
                            </p>
                            <p class="my-0">
                              <span class="price">N15,000</span>
                              <span class="night">/night</span>
                            </p>
                        </div>
                  </div>

            </div>
            <div class="col-12 col-md-6 mb-5 mb-md-0">

                <div class="room d-flex" style="background-image: url(../media/room4.png)">
                    <div class="roomInfo col align-self-end">
                      <p class="name my-0 mt-3" style="color: black;">DOUBLE SATNDARD ROOM</p>
                      <p class="from my-0">from <span style="color: red; float: right;"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="32" height="32"
                        viewBox="0 0 172 172"
                        style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg></span></p>
                      <p class="my-0">
                        <span class="price">N15,000</span>
                        <span class="night">/night</span>
                      </p>
                    </div>
                  </div> 
            </div>
        </div>
        <div class="row d-flex .flex-wrap mt-md-5 mb-5 mb-md-0">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="room d-flex" style="background-image: url(../media/room5.png)">
                        <div class=" roomInfo col align-self-end">
                            <p class="name my-0 mt-3" style="color: black;">STANDARD ROOM</p>
                            <p class="from my-0">from <span style="color: red; float: right;"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                              width="32" height="32"
                              viewBox="0 0 172 172"
                              style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg></span></p>
                            <p class="my-0">
                              <span class="price">N15,000</span>
                              <span class="night">/night</span>
                            </p>
                        </div>
                  </div>

            </div>
            <div class="col-12 col-md-6 mb-5 mb-md-0">

                <div class="room d-flex " style="background-image: url(../media/room6.png)">
                    <div class="roomInfo col align-self-end">
                      <p class="name my-0 mt-3" style="color: black;">LIMITED VIEW</p>
                      <p class="from my-0">from <span style="color: red; float: right;"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="32" height="32"
                        viewBox="0 0 172 172"
                        style=" fill:#000000; cursor: pointer;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"  style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#02ce77"><path d="M113.88281,49.88672l-7.55859,7.72656l23.01172,23.01172h-107.83594v10.75h107.83594l-23.01172,23.01172l7.55859,7.72656l36.11328,-36.11328z"></path></g></g></svg></span></p>
                      <p class="my-0">
                        <span class="price">N15,000</span>
                        <span class="night">/night</span>
                      </p>
                    </div>
                  </div> 

            </div>
    </div>

</body>
</html>
