<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../styles/services.css" />
		<title>Services & Facilities</title>
	</head>
	<body>
		<!-- NAVBAR  GOES HERE -->

		<!-- header -->

		<header>
			<h1>Services & facilities</h1>
		</header>

		<!-- main -->

		<main>
			<div class="content-container">
				<h2>Overview of our Services and facilities</h2>
				<div class="row1 grid-container">
					<div class="col1">
						<a href="">
							<img src="../media/Rectangle47.png" alt="" />
							<div class="title">
								<p>
									fitness
								</p>
							</div>
						</a>
					</div>
					<div class="col2">
						<a href="">
							<img src="../media/Rectangle48.png" alt="" />
							<div class="title">
								<p>
									parking
								</p>
							</div>
						</a>
					</div>
					<div class="col3">
						<a href="">
							<img src="../media/Rectangle49.png" alt="" />
							<div class="title">
								<p>
									conference
								</p>
							</div>
						</a>
					</div>

					<div class="col1">
						<a href="">
							<img src="../media/Rectangle50.png" alt="" />
							<div class="title">
								<p>
									Bouquet hall
								</p>
							</div>
						</a>
					</div>
					<div class="col2">
						<a href="">
							<img src="../media/Rectangle51.png" alt="" />
							<div class="title">
								<p>
									spa
								</p>
							</div>
						</a>
					</div>
					<div class="col3">
						<a href="">
							<img src="../media/Rectangle52.png" alt="" />
							<div class="title">
								<p>golf course</p>
							</div>
						</a>
					</div>

					<div class="col1">
						<a href="">
							<img src="../media/Rectangle53.png" alt="" />
							<div class="title">
								<p>transport</p>
							</div>
						</a>
					</div>
					<div class="col2">
						<a href="">
							<img src="../media/Rectangle54.png" alt="" />
							<div class="title">
								<p>
									laundry
								</p>
							</div>
						</a>
					</div>
					<div class="col3">
						<a href="">
							<img src="../media/Rectangle55.png" alt="" />
							<div class="title">
								<p>tennis court</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
