<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/stories.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Stories</title>
  </head>
  <body>
    <div class="container stories mt-5 px-4">
      <div class="row">
        <div class="col-md-5 pl-lg-5">
          <h2 class="text-capitalize text-left mt-5">
            read our <br />
            stories
          </h2>
          <div class="line mb-4"></div>
          <button class="btn btn-success btn-lg mb-4">Get Started</button>
        </div>

        <div class="col-md-7 pr-lg-5">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../media/Rectangle 14.png"
                  class="img-fluid"
                  alt="img-stories"
                  style="
                    width: 600px;
                    height: 350px;
                    object-fit: cover;
                    object-position: center;
                  "
                />
              </div>
              <div class="col-md-8 p-3">
                <div class="card-body">
                  <h5 class="text-capitalize">
                    home away, from <br />
                    home
                  </h5>
                  <small class="text-muted text-capitalize">
                    3, june 2020
                  </small>
                  <p class="card-text text-muted mt-3">
                    Welcome to Tunz hotel and resort, a home away from home, a
                    place where comfort is and customer satisfaction.
                  </p>
                  <p>
                    <a href="#" class="readmore text-success">Readmore</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
