* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #029;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  width: 100vw;
}

// header
header {
  margin: 0;
  padding: 0;
  height: 50vh;
  //   background-color: #928;
  position: relative;
  //   background-color: #920;
  background-image: url(/dist/images/Rectangle41.png);
  width: 102%;
  left: -1em;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  h1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    font-size: 4.5rem;
    color: #fff;
    text-transform: capitalize;
  }
}

// main
main {
  background-color: #e5e5e5;
  //   padding-top: 3em;
  width: 100%;
  .content-container {
    width: 82%;
    height: 100%;
    margin: auto;
    padding-bottom: 2em;
    h2 {
      padding: 1em 0em 1em 0em;
      // color: #fff;
      font-size: 3.5rem;
    }
    .row1 {
      display: flex;
      width: 100%;
      margin-bottom: 2em;

      .col1,
      .col2,
      .col3 {
        height: 385px;
        width: 355px;
        position: relative;
        overflow: hidden;
        a {
          .title {
            position: absolute;
            bottom: 0.5%;
            left: 1%;
            text-align: center;
            width: 101.5%;
            height: 20%;
            background-color: rgb(255, 255, 255);
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #000000;
              transform: scale(0);
              color: #fff;
            }
            p {
              color: #2b2b2b;
              font-weight: bolder;
              font-size: 1.5rem;
              text-transform: capitalize;
              transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
          }
          &:hover .title {
            height: 100%;
            color: #fff;
          }
          &:hover .title::before {
            transform: scale(1);
          }
          &:hover p {
            color: #fff;
            font-weight: 500;
            z-index: 1;
            font-style: italic;
            text-transform: uppercase;
          }
        }
      }
      .col1,
      .col2,
      .col3 {
        img {
          position: absolute;
          width: 107%;
          height: 105%;
          top: -2%;
          left: -2%;
        }
      }
      .col1,
      .col2 {
        margin-right: 1em;
      }
    }
  }
}
