.headerContact_hero img {
  width: 30%;
  height: 30%;
  display: block;
}
.fill_div {
  height: 458px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31));
  position: absolute;
  z-index: 1;
}
  .headerContact_hero img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .contact-title {
    z-index: 3;
    width: 381px;
    height: 86px;
    position: absolute;
    font-family: "Lato", sans-serif;
    vertical-align: top;
    left: 166px;
    top: 172px;
    transition: all 0.2s ease;
  }

  .contact-title h2 {
    color: #fff;
    font-size: 62px;
    text-align: left;
    font-weight: 500;
  }
  .contact-title:hover h2 {
    transform: translateY(-5px);
  }
body {
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
  height: 458px;
  /* background-color: #928; */
  position: relative;
  /* background-color: #920; */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../media/Rectangle\ 43.png");
  /* width: 102%; */
  /* left: -1em; */
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

header h1 {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-20%, -50%);
  font-size: 4.5rem;
  color: #fff;
  text-transform: capitalize;
}

contact-container {
  display: flex;
}

.contact-section,
.contact-main h2 {
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
}
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.contact-details {
  flex-grow: 2;
  margin-top: auto;
}
.contact-details .fa {
  color: rgb(6, 43, 167);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  
}
.contact-form-div {
  flex-grow: 4;
  text-align: center;
  float: right;
}
.contact-form input,
textarea {
  margin-bottom: 1rem;
  border: none;
  outline: none;
}
.contact-form input {
  height: 1rem;
  padding: 0.5rem;
 
}
.contact-form button {
  height: 2rem;
  font-weight: bold;
  color: white;
  background-color: rgb(74, 196, 44);
  border: none;
  outline: none;

}
.contact-form button:hover {
  background-color: green;
}

}
.map img {
  max-width: 100%;
  height: 100%;
  display: block;
}
.map:hover img {
  transform: scale(0.995);
}

@media screen and (min-width: 1440px) {
.map {
  left: 10%;
}
}